.map-container {
  height: 480px;
  margin: 20px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 10px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
  max-width: 250px;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    top: 90%;
    bottom: 0;
    left: 0;
  }
}
